body {
    background-color: blanchedalmond;
    text-align: center;
}

#clockDisplay {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 60pt;
    padding: 10px;
    border: 10px groove cornflowerblue;
    font-family: 'Patrick Hand', cursive;
    transform: translateX(-50%) translateY(-50%);


}

#clockDisplay:hover {
    transform: rotate(20deg);
    transition: 10s;

}

#dateDisplay {
    display: inline-block;
    position: absolute;
    top: 70%;
    left: 50%;
    font-size: 40pt;
    padding: 5px;
    font-family: 'Patrick Hand', cursive;
    transform: translateX(-50%) translateY(-50%);
}

#dateDisplay:hover {
    
}

h1 {
    font-family: 'Patrick Hand', cursive;
    font-size: 35pt;
}

h1:hover {
    color: cornflowerblue;
    
}

a {
    font-size: 20pt;
    padding: 5%;

}

a:hover {
    color: cornflowerblue;
}

